<mat-toolbar color="primary" class="esspl-navigation-bar app-tool-bar">
  <mat-toolbar-row>
    <div class="container-fluid header-info row">
      <div class="col-md-3 header-menu align-items-center">
        <h1 class="toolbar-title"> multi-tenant </h1>
      </div>

      <div class=" col-md-9 d-flex justify-content-end align-items-center">
        <button mat-icon-button type="button" class="menu-icon" (click)="toggleEvent($event)">
          <mat-icon i18n="@@menu">menu</mat-icon>
        </button>
        <!-- <button class="power_settings_new" mat-icon-button (click)="logout()">
          <mat-icon>logoff</mat-icon>
        </button> -->
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>