<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8" *ngIf="dataSource">
    <table class="w-100" mat-table [dataSource]="dataSource" matSort>
  
      <ng-container [matColumnDef]="eachHeadItem.key" *ngFor="let eachHeadItem of tableHeaders">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{eachHeadItem.label}} </th>
        <td mat-cell *matCellDef="let row"> {{row[eachHeadItem.key]}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <ng-container *ngIf="false">  
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </ng-container> -->

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>